<% layout('../views/layouts/boilerplates') -%>
<div class="lecture-container">
  <div class="filter-content mb-2">
    <div class="class">
      <select class="form-select" id="class" onclick="FilterTable()">
        <option value="All">Select Class</option>
        <option value="IX">Class IX</option>
        <option value="X">Class X</option>
      </select>
    </div>
    <div class="subject">
      <select class="form-select" id="subject">
        <option value="All" selected>Select Subject</option>
        <option value="Physics">Physics</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Biology">Biology</option>
      </select>
    </div>
  </div>

  <input
    type="text"
    id="myInput"
    onkeyup="myFunction()"
    placeholder="Search for Chapter or Subject"
  />
  <div class="lecture-body">
    <div class="video-list">
      <table id="myTable" class="table table-hover">
        <thead>
          <tr class="header">
            <th scope="col">Class</th>
            <th scope="col">Subject</th>
            <th scope="col">Chapter Name</th>
            <th scope="col">Lecture Number</th>
          </tr>
        </thead>
        <% for(lecture of lectures){ %>
        <tbody>
          <td scope="row" onclick="changeVideo('<%= lecture.video_link %>')">
            <%= lecture.class %>
          </td>
          <td scope="row" onclick="changeVideo('<%= lecture.video_link %>')">
            <%= lecture.subject %>
          </td>
          <td scope="row" onclick="changeVideo('<%= lecture.video_link %>')">
            <%= lecture.chapter_name %>
          </td>
          <td scope="row" onclick="changeVideo('<%= lecture.video_link %>')">
            <%= lecture.lecture_number %>
          </td>
          <% }%>
        </tbody>
      </table>
    </div>
    <div class="video-box">
      <iframe
        id="videoBox"
        width="100%"
        height="95%"
        id="youtube-video"
        src=""
        width="640"
        height="95%"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
